{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
 <link rel="stylesheet" href="{%  static 'loginpage/css/style.css' %}">
</head>

<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form  METHOD="post" ACTION="{% url 'checklogin' %}">
                     {% csrf_token %}
                    <input type="text"  name="uname" required placeholder="USERNAME" />
                    <input type="password" name="pwd" required placeholder="PASSWORD" />
                      <input type="submit" value="login"/>
                </form>
                <div class="register-forget opacity">
                    <a href="">REGISTER</a>
                    <a href="">FORGOT PASSWORD</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
</html>
